        /* SMALL SCREEN  */
@media screen and (max-width: 320px){
    .container{
        margin-inline: 1rem;
    }
    .new__card{
        flex-direction: column;
    }
}

        /* MEDIUM SCREEN  */
@media screen and (max-width: 450px){
    .featured__card{
        width: 290px;
    }
    .new__card{
        width: 390px;
    }
}
@media screen and (min-width: 576px){
    /* NEWSLETTER START  */
    .join__container{
        max-width: 900px;
        justify-content: center;
        margin: auto;
        text-align: center;
    }
    .join__container{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #join{
        justify-content: center;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        line-height: 3rem;
        margin-right: 2em;
    }
    #join h2{
        font-size: 35px;
    }
    #join span{
        font-size: 20px;
    }
    #News__letter > form {
        justify-content: center;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        line-height: 10rem;
    }
    /* NEWSLETTER END  */
}
@media screen and (min-width: 768px){

}
        /* LARGE SCREEN  */
@media screen and (min-width: 1150px){
    .section{
        padding-block: 7rem 2rem;
    }
    .featured__container{
        padding-top: 2rem;
    }
    .featured__title{
        font-size: 1rem;
    }
    .new__container{
        padding-top: 2rem;
    }
    .new__card{
        padding: 1rem;
    }
    .new__img{
        width: 120px;
    }
    .new__title{
        font-size: 1rem;
    }
    .join__bg{
        object-position: 0 -5rem;
    }
    .scrollup{
        right: 3rem;
    }
    .show-scroll{
        bottom: 3rem;
    }
    /* ALL BOOKS START */
    .new__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        column-gap: 2.5rem;
        max-width: 290px;
    }
    .section__title .main__sub{
        font-size: 35px;
    }
    .section__title .sub1{
        font-size: 20px;
    }
    /* come back here and redo the desktop screen  */
    /* for all books  */
    .container{
        max-width: calc(1270px - 32px);
    }
    /* for audio books  */
    #Laptop-con{
        margin: auto;
        padding-right: 0px;
        padding-left: 0px;
        /* come back here  */
        margin-left: 42em;

    }
    #Laptop-con .swiper-slide-duplicate{
        display: none;
    }
    #Laptop-swiper{
        max-width: 400px;
        overflow: visible;
    }
    /* for all books  */
    .new__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        column-gap: 1rem;
        background-color: var(--clr-white);
        border-radius: 20px;
        padding: 35px 30px;
    }
    /* for audio books  */
    .new__swiper{

    }
    /* for audio books  */
    .new__container{

    }
    .new__swiper:nth-child(1){
        margin-bottom: 0rem;
    }
    /* for pdf books  */
    .featured__container{

    }
    /* for pdf books  */
    .featured__swiper{

    }
    .swiper{
        overflow: hidden;
    }
    /* ALL BOOKS END  */

    /* Landing page  */
    .banner-title{
        margin: 0px;
        margin-top: 2.5em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        justify-content: center;
        font-size: 55px;
        font-family: "Montserrat", sans-serif;
        line-height: 1.166;
    }
    .banner-content{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .banner-left .content-wrapper{
        max-width: 600px;
        margin-left: auto;
    }
    .banner-left .content-wrapper p{
        text-align: center;
        justify-content: center;
        max-width: 600px;
    }
    .banner-left .text{
        font-size: 24px;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .btn-secondary{
        min-width: 250px;
        font-size: 20px;
    }
}
@media screen and (min-width: 1220px){
 .container{
    margin-inline: auto ;
 }
}