@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root{
    --clr-blue: #458ff6;
    --clr-black: #000;
    --clr-white: #fff;
    --clr-gray: #7d7987;
    --clr-dark-blue: #233348;
    --clr-dark-purple: #1f1534;
    /* --font-family-mulish: 'Mulish', sans-serif; */
    --font-family-mulish: "Montserrat", sans-serif;
    --transition-default: all 300ms ease-in-out;
}
html{
    scroll-behavior: smooth;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: unset;
    transition: var(--transition-default);
}
a:focus, a:hover{
    color: unset;
}
img, picture, video, canvas, svg{
    max-width: 100%;
    display: block;
}
input, button, textarea, select{
    font: inherit;
    outline: 0;
}
h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}
textarea{
    resize: none;
}
img, object, embed, video{
    max-width: 100%;
}

body{
    font-family: var(--font-family-mulish);
    line-height: 1.6;
    height: 100%;
    font-weight: 300;
}
html{
    scroll-behavior: smooth;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.page-wrapper{
    overflow: hidden!important;
}

/* Header section and navbar  */
.active-link{
    color: hsl(230, 62%, 56%);
}

.header *{
    color: var(--clr-white);
}
.navbar{
    padding: 20px 0 20px 0;
    background-color: var(--clr-black);
}
.brand-and-toggler{
    width: 100%;
}
.navbar-content{
    height: 41px;
}
.navbar-brand .brand-shape{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: var(--clr-white);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-right: 12px;
    color: var(--clr-blue);
}
.navbar-brand .brand-text{
    color: var(--clr-white);
    font-size: 24px;
}
.nav-item{
    margin-left: 40px;
}
.nav-link{
    font-weight: 400;
    font-size: 18px;
}
.nav-link:hover{
    opacity: 0.9;
}
.nav-link.nav-active{
    position: relative;
    color: var(--clr-white);
    font-weight: 700;
    opacity: 1;
}
.nav-link.nav-active::after{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--clr-white);
}
.navbar-show-btn{
    font-size: 24px;
    cursor: pointer;
}
.navbar-hide-btn{
    display: none;
    cursor: pointer;
    transition: var(--transition-default);
}
.navbar-hide-btn:hover{
    opacity: 0.8;
}
.shadow-header{
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
}
/* add shadow header  */
.shadow-header{
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
}
/* hero section and content  */
/* banner */

/* ABOUT  MAIN SECTION  */
/* #About{

}    */
#About__main1{
    background-color: whitesmoke;
}
#About__main1  > .The__heading {
    text-transform: capitalize;
}
.about__content{
    /* box-shadow: 10px 40px 50px 0px #e5e9f666; */
    background-color: var(--clr-white);
    /* width: 100vw;  */
    padding: 1rem;
}

.The__heading{
    display: flex;
    justify-content: center;
    text-align: center;
}
.The__heading , h2{
    margin-top: .50rem;
    margin-bottom: .50rem;
    font-size: 42px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 3rem;
}
.sub__heading{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;;
    mix-blend-mode: normal;
    margin-bottom: .50rem;
    margin-top: .10rem;
    margin-bottom: .20rem;
}
.about__content p{
    justify-content: center;
    text-align: center;
    font-size: .938rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;;
    margin-bottom: .50rem;
    margin-top: .10rem;
    margin-bottom: .20rem;
}
.about__content p > span{
    font-weight: 600;
}
.about__content p {
    font-size: 18px;
}
/* .part{
  
} */
.part span{
    font-family: "Montserrat", sans-serif;
    font-size: .938rem;
    font-weight: 600;
}
.part p {
    font-family: "Montserrat", sans-serif;
    font-size: .938rem;
    font-weight: 400;
}
.About__main , button{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.button{
    margin: .50rem 0 .50rem 0;
    display: inline-flex;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(191, 10, 48);
    color: white;
    padding: 1rem 1.5rem;
    transition: box-shadow .4s ;
    border-radius: 54px;
}
/* footer */
.footer{
    margin-top: 136.6px;
    /* background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%); */
    background: var(--clr-black);
    padding-top: 118px;
    padding-bottom: 109px;
    position: relative;
}

.footer .navbar-brand{
    margin-bottom: 17px;
}

.footer .navbar-brand .brand-shape{
    /* background-color: var(--clr-white); */
    color: var(--clr-blue);
}
.footer .navbar-brand .brand-text{
    color: var(--clr-white);
}

.footer-list{
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 40px;
}
.footer-item:nth-child(1){
    padding-right: 100px;
}
.footer-item:nth-child(1) p{
    font-weight: 300;
    font-size: 18px;
}
.footer-item:nth-child(1) .copyright-text{
    margin-top: 31px;
    line-height: 1.55;
}
.footer-item-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
}
.footer-links li a{
    font-weight: 300;
    font-size: 18px;
}
.footer-links li a:hover{
    opacity: 0.95;
    text-decoration: underline;
}
.footer-links li{
    margin-bottom: 10px;
}
.footer-element-1{
    bottom: 0;
    left: 0;
    position: absolute;
}
.footer-element-2{
    position: absolute;
    right: 91px;
    top: -70px;
    z-index: 1;
}

@media screen and (max-width:1120px){
    .footer-item:nth-child(1){
        padding-right: 0;
    }

    .footer-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 992px){
    .navbar .navbar-show-btn{
        display: block;
    }

    .navbar .navbar-hide-btn i{
        color: var(--clr-black);
    }

    .navbar-box{
        position: fixed;
        right: 0;
        top: 0;
        width: 280px;
        height: 100%;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
        z-index: 999;
        background-color: var(--clr-white);
        padding: 48px 32px 24px;
        transform: translateX(100%);
        transition: var(--transition-default);
    }

    .navbar-box-show{
        transform: translateX(0);
    }

    .navbar-box .nav-link{
        color: var(--clr-black);
        position: relative;
        padding-bottom: 8px;
    }

    .navbar-box .nav-link::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 0;
        background-color: var(--clr-blue);
        transition: var(--transition-default);
    }
    .navbar-box .nav-link:hover{
        color: var(--clr-blue);
    }
    .navbar-box .nav-link:hover::after{
        width: 100%;
    }
    .navbar-box .nav-link.nav-active{
        color: var(--clr-blue);
    }
    .navbar-box .nav-item{
        margin: 12px 0;
    }
    .navbar-box .navbar-nav{
        flex-direction: column;
    }
    .navbar-box .navbar-hide-btn{
        display: block;
        position: absolute;
        right: 16px;
        top: 16px;
        font-size: 24px;
    }
    /* footer */
    .footer-element-1{
        width: 60px;
    }
    .footer-element-22{
        width: 60px;
        right: 0;
        top: -35px;
    }

}
@media screen and (max-width: 768px){
    /* footer */
    .footer-list{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .footer-list .navbar-brand{
        justify-content: center;
    }
    .footer-list .footer-item:nth-child(1){
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (max-width: 678px){
    
}
@media screen and (max-width: 576px){
    
}
@media screen and (max-width: 450px){
    .navbar-box{
        width: 100%;
    }
}
/* NEW DESKTOP VIEW   */

@media screen and (min-width: 1150px){

    .About__main{
        font-family: "Roboto", sans-serif;
       /* padding-left: 8em;
       padding-right: 8em; */
       padding: 4em 6em 4em 6em;
    }

    .Desk_img{
        padding: 40px;
        /* max-width: 600px; */
        /* max-height: 500px; */
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        max-height: 400px;
    }
    #About__main1{
        background-color: whitesmoke;
    }
    .desktop-Flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .flex1 > .The__heading {
        justify-content: left;
        text-align: left;
        font-size: 40px;
        margin-bottom: 0.5em;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        font-style: normal;
    }
    
    .flex1 > .part-Main{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        justify-content: left;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
    }
    
    .flex1 > button{
        position: relative;
        right: 16em;
    }
    .flex1 > a button{
       position: relative;
       right: 16em;
    }
    .part span{
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 22px;
        margin-bottom: 0.5em;
        font-weight: 700;
    }
    .part p{
        font-size: 21px;
        margin-bottom: 0.5em;
        font-weight: 500;
        color: #42474c;
    }
    .About__main p{
        font-size: 21px;
        margin-bottom: 0.5em;
        font-weight: 500;
        color: #42474c;
    }
}















@media screen and (min-width: 1150px){
    /* .About__main{
        margin-top: 4em;
        margin-bottom: 3em;
    }
    #About__main1{
        display: flex;
        flex-direction: row;
    }
    .desktop-Flex{
        justify-content: center;
        display: flex;
    }
    .flex1{
        align-content: center;
        margin-right: 3em;
    }
    .flex1 {
        text-align: left;
    }
    .flex1 > p {
        text-align: left;
    }
    .Section_desk > .The__heading{ 
        text-align: left;
    }
    .Section_desk  p { 
        text-align: left;
    }
    .Section_desk  a{ 
        position: relative;
        right: 11.5em;
    }
    .Desk_img{
        opacity: 1;
        box-shadow: 10px 10px 20px 10px #b0b0b066;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 400px;
    }
    .The__heading{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
    }
    .sub__heading{
        font-size: 20px;
        font-weight: 500;
    }
    .about__content p {
        font-size: 20px;
    }
    .part-Main{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .part{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .part span{
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    .part p {
        font-size: 20px;
    } */
}
